<!DOCTYPE html>
<html>
<head>
  <title>Matiere</title>
  <meta charset="utf-8"/>
  <style>
  body {
      background: #1D1F21;
  }
      table, td, th {
         border: 1px solid black;

      }
      th {
          color: red;
      }
      h3 {
          width: 200px;
          margin: 20px auto;
      }
  </style>
</head>
<body>
  <h3>Matire List</h3>
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Cofficient</th>
          <th>Cours</th>
          <th>Td</th>
          <th>tp</th>
          <th>Nombre d'heure</th>
        </tr>
    </thead>
    <tbody>
        {% for s in matiere_list %}
        <tr>
            <td>{{ s.nom }}</td>
            <td>{{ s.coff }}</td>
            <td>{{ s.td }}</td>
            <td>{{ s.tp }}</td>
            <td>{{ s.nb_heure }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
</body>
</html>
