<!DOCTYPE html>
<html>
    <head>
        <title>Prof List</title>
        <meta charset='UTF-8' />
        <style>
            body{
              background-color: grey;
            }
             table, td, th {
                            border: 1px solid black;
            }
            th {
                color: red;
            }
            h3 {
                width: 200px;
                margin: 20px auto;
            }
        </style>
    </head>
    <body>
        <h3>Prof List</h3>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                </tr>
            </thead>
            <tbody>
                {% for s in prof_list %}
                <tr>
                    <td>{{ s.nom }}</td>
                    <td>{{ s.prenom }}</td>
                    <td>{{ s.email }}</td>
                    <td>{{ s.telephonne }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
